node_modules
vendor
backend/vendor
backend/node_modules
backend/public/hot
backend/public/storage
backend/storage
.git
.github
*.md
!backend/README.md
tests
writable/logs/*
writable/cache/*
docker/data/*
